//-
	Главная страница
	"Первый экран"



mixin features( args )
	li.features__item.item
		img.logo.lazy( src="#", data-src=args.logo, alt=args.title )
		.title #{args.title}



section.jumbotron#jumbotron
	h1.title #{blog.name}
	p.description #{blog.description}
	a.permalink( href="#" ) Поступление 2020
	ul.features
		+features( { logo: src.img+'features/01.png', title: 'Fixed price projects' } )
		+features( { logo: src.img+'features/02.png', title: 'Receive on time' } )
		+features( { logo: src.img+'features/03.png', title: 'Satisfaction guranteed' } )